$mainFontColor: #222;
$mainLightFontColor: #fff;
$mainFontSize: 1.5rem;
$smallFontSize: 1.3rem;
$mainLineHeight: 1.5;
$mobileFontSize: 0.8rem;
$cardContainerBackground: #ffe5d9;
$navbarFontColor: rgb(253, 253, 253);
$searchBackgroundColor: #020824d8;
$searchInputBackgroundColor: rgb(255, 255, 255);
$searchInputShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;