@import '../../helpers/variables';

.searchContainer{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $searchBackgroundColor;
    padding: 2rem;
}

.searchInput{
    background-color: $searchInputBackgroundColor;
    height: 3rem;
    width: 30rem;
    border-radius: 1rem;
    border: none;
    padding-left: 1rem;
    font-size: 1.3rem;
    box-shadow: $searchInputShadow;
}