@import "../../helpers/variables";

.eqCardContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  background-color: $cardContainerBackground;
  color: $mainFontColor;
  .eqCard {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    height: 10rem;
  }
  .eqDetails {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .intensity {
    font-size: 3rem;
    font-weight: 700;
    color: $mainLightFontColor;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    left: 0;
  }

  .magSpan {
    font-size: $mainFontSize;
    font-weight: 600;
    color: $mainLightFontColor;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .magContainer {
    position: relative;
    height: 100%;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cityContainer p {
    font-size: $mainFontSize;
    font-weight: 600;
    color: $mainLightFontColor;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .date {
    font-size: $smallFontSize;
    line-height: $mainLineHeight;
  }

  .time {
    font-size: $smallFontSize;
    line-height: $mainLineHeight;
  }

  .depth {
    font-size: $smallFontSize;
    line-height: $mainLineHeight;
  }

  .place {
    line-height: $mainLineHeight;
    font-size: $smallFontSize;
    cursor: pointer;
  }
}

@media screen and (max-width: 1600px) {
  .eqCardContainer{
    height: 100%;
  }
  .eqCard {
    flex-direction: column;
    align-items: flex-start;
    height: 15rem;
    gap: 0rem !important;
    .magContainer {
      height: 100%;
      width: 100%;
      justify-content: center;
    }
    .eqDetails {
      display: flex;
      justify-content: space-evenly;
      padding: 0.2rem;
    }
    .date {
      font-size: $mobileFontSize;
    }

    .time {
      font-size: $mobileFontSize;
    }

    .depth {
      font-size: $mobileFontSize;
    }

    .place {
      font-size: $mobileFontSize;
      cursor: pointer;
    }

    .cityContainer p {
      font-size: 1rem;
    }

    .magSpan {
      font-size: $smallFontSize;
    }

    .magnitude {
      font-size: 2rem;
        }
  }
}
